<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="MonitorNumber" value="1"/>
		<add key="DocFolderPath" value="C:/evidence" />

		<!-- 0 for no modifiers, use 1 for Alt, 2 for Ctrl, 4 for Shift -->
		<add key="HotkeyModifiers" value="0" />
		
		<!-- 119 is the virtual key code for F8 -->
		<add key="HotkeyCode" value="119" />

		<!-- Annotation is the info, pass, fail icon -->
		<add key="AnnotationFontSize" value="15" />
		<add key="AnnotationSymbolOffsetX" value="30" />
		<add key="AnnotationSymbolOffsetY" value="30" />

		<!-- Circle radius for annotation -->
		<add key="CircleRadius" value="30" />
		<!-- Valid values range from 0 (fully transparent) to 255 (fully opaque) -->
		<add key="CircleTransparency" value="75" />
		

		<!-- Symbol offsets -->
		<add key="SymbolXOffset" value="20" />
		<add key="SymbolYOffset" value="20" />

		<!-- Annotation settings for Info type -->
		<add key="InfoFontName" value="Webdings" />
		<add key="InfoSymbol" value="i" />
		<add key="InfoColor" value="#FFFFFF" />
		<!-- White color in hexadecimal -->
		
		<!-- Annotation settings for Pass type -->
		<add key="PassFontName" value="Wingdings 2" />
		<add key="PassSymbol" value="R" />
		<add key="PassColor" value="#00FF00" />
		<!-- Green color in hexadecimal -->

		<!-- Annotation settings for Fail type -->
		<add key="FailFontName" value="Wingdings 2" />
		<add key="FailSymbol" value="Q" />
		<add key="FailColor" value="#FF0000" />
		<!-- Red color in hexadecimal -->
		
	</appSettings>
</configuration>