<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="MonitorNumber" value="1"/>
		<add key="DocFolderPath" value="C:/evidence" />
		<add key="HotkeyModifiers" value="0" />
		<!-- 0 for no modifiers, use 1 for Alt, 2 for Ctrl, 4 for Shift -->
		<add key="HotkeyCode" value="119" />
		<!-- 119 is the virtual key code for F8 -->
		<add key="AnnotationFontSize" value="14" />
		<add key="AnnotationSymbolOffsetX" value="15" />
		<add key="AnnotationSymbolOffsetY" value="15" />
		
	</appSettings>
</configuration>